 <%= image_tag("snowdog.jpg", class: "img-responsive",:style=>"width :100%, top : 0px;", :alt => "rss feed") %>



 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="col-md-6 row">
                    <%= image_tag("profile.png", class: "img-circle img-responsive", style:"border-radius:50%; width:200px; height:200px; margin-left:100px; margin-bottom: 170px; margin-top:10px;", :alt => "github") %>
                    
                    
                </div>


                 <div class="col-md-6 row"><h2 class="section-heading" style="margin-top: -10px;">About Me</h2></div>
                 <h3 class="section-subheading text-muted" style= "padding-top:30px; line-height: 22px;">Hello, my name is Shirlaine and i am a freelance Pet stylist. I had my first magical "Hello World" moment in March this year, 2017 when i picked up JavaSript in my free time. Since then I have had some exposure to Javascript, Ruby, Ruby on Rails, Html, Css and Bootstrap through various sites and workshops such as Codeacademy, Free Code Camp, Udemy amongst the rest. I'm really excited to embark on this journey of Web Development and look forward to taking my learning to the next level.</h3>


                    
                </div>
            </div>

            <div class="contact-bottom"></div>


            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-heading" style="text-align:center; margin-bottom:50px;">Time line</h2>

                    
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                
                                <%= image_tag("ecu3.png", class: "img-circle img-responsive", :alt => "github") %>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1985-2003</h4>
                                    <h4 class="subheading">Education</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        <ul id="about-ul">
                                            <li>1985: Hello World</li>
                                            <li>1992-1997: Kong Hwa Primary</li>
                                            <li>1998-2000: Chung Cheng High School(Main)</li>
                                            <li>1998-2000: St. Andrews Junior College</li>
                                            <li>1998-2000: University of New South Wales</li>
                                             <li>1998-2000: Edith Cowan University</li>

                                            <li></li>
                                        </ul>

                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <%= image_tag("sslim3.png", class: "img-circle img-responsive", :alt => "github") %>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2008</h4>
                                    <h4 class="subheading">Harmonic Health</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <%= image_tag("trading.png", class: "img-circle img-responsive", :alt => "github") %>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2010-2014</h4>
                                    <h4 class="subheading">SGX(TMI)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Propriety Trader. Job scope involved exposure to Simsci, Nikkei, Spi as well as U.S Equity markets. Working knowledge of Excel for trade planning and trading platforms(Poems, Trading Technologies) for trade execution.Technical trader.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <%= image_tag("hsm3.png", class: "img-circle img-responsive", :alt => "github") %>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2013-present </h4>
                                    <h4 class="subheading">Houndsmitten Grooming Co.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Ventured in a small business startup running a housecall pet-grooming service for dogs and cats. Leads were gathered through facebook marketing, google adwords and a wordpress website. An accident and surgery in 2015 led me to alter the direction of the business. I currently run a small home-based freelance pet grooming service.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <%= image_tag("calmcode.png", class: "img-circle img-responsive", :alt => "github") %>
                                
                            </div>
                            <div class="timeline-panel" style="float: left; margin-left: 70px;">
                                <div class="timeline-heading">
                                    <h4>Present -Future</h4>
                                    <h4 class="subheading">Aspiring Software developer</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">This is the next milestone that i hope to achieve. My interest and skillsets may vary greatly over the years. But the underlying connection between them is my interest to always pick up new skills. In the process of learning programming, I realised that I enjoy the adrenaline/accomplishment of attaining a solution after relentless tries, and also have found joy in working with Flow.  </p>
                                </div>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>