 <%= image_tag("snowdog.jpg", class: "img-responsive",:style=>"width :100%, top : 0px;", :alt => "snowdog") %>



 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="col-md-6 row">

                    <%= image_tag("profile.png", class: "img-circle img-responsive", style:"border-radius:50%; width:200px; height:200px; margin-left:100px; margin-bottom: 170px; margin-top:20px;", :alt => "github") %>
                    
                    
                </div>


                 <div class="col-md-6 row"><h2 class="section-heading" style="margin-top: -10px;">About Me</h2></div>
                 <h3 class="section-subheading text-muted" style= "padding-top:30px; line-height: 22px;">Hello, my name is Shirlaine and I am a freelance Pet stylist.<br> Having experienced my first magical "Hello World" moment in March 2017, using basic JavaScript, I went on explore a bit more of other programming languages such as Ruby, Ruby on Rails, Html, Css and Bootstrap through various sites and workshops such as Codeacademy, Free Code Camp, Udemy amongst the rest.<br> I'm really excited to embark on this journey of Web Development and look forward to taking my learning and contribution to the next level.</h3>


                    
                </div>
            </div>
            <!--end-->

            <div class="contact-bottom"></div>

            <!--Time Line-->
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-heading" style="text-align:center; margin-bottom:50px;">Time line</h2>

                    
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                
                                <%= image_tag("ecu3.png", class: "img-circle img-responsive", :alt => "ECU") %>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1985-2003</h4>
                                    <h4 class="subheading">Education</h4>
                                </div>
                                <div class="timeline-body">
                                    <ul class= "text-muted" id="about-ul">
                    
                                            <li>1985: Hello World</li>
                                            <li>1992-1997: Kong Hwa Primary</li>
                                            <li>1998-2001: Chung Cheng High School(Main)</li>
                                            <li>2002-2003: St. Andrews Junior College</li>
                                            <li>2003-2004: University of New South Wales</li>
                                             <li>2005-2008: Edith Cowan University (Exercise & Sports Science)</li>

                                            <li></li>
                                        </ul>

                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <%= image_tag("sslim3.png", class: "img-circle img-responsive", :alt => "harmonic health") %>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Year 2008-2010</h4>
                                    <h4 class="subheading">Harmonic Health Pte Ltd</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Education and Training Manager- Highlights include: Co-authoring Scientifically Slim, Primetime Morning Interview on Office Ergonomics, In-charge of the Health Promotion Board(HPB)Active Kidz Programme </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <%= image_tag("trading.png", class: "img-circle img-responsive", :alt => "trading") %>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Year 2010-2014</h4>
                                    <h4 class="subheading">SGX(TMI)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Propriety Trader, exposure to futures markets such as Simsci, Nikkei, Spi as well as U.S Equity markets. Working knowledge of Excel for trade planning and of trading platforms (Poems, Trading Technologies) for trade execution.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <%= image_tag("hsm3.png", class: "img-circle img-responsive", :alt => "houndsmitten") %>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Year 2013-present </h4>
                                    <h4 class="subheading">Houndsmitten Grooming Co.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Ventured in a small business startup running a housecall pet-grooming service for dogs and cats. Leads were gathered through facebook marketing, google adwords and a wordpress website. An accident and surgery in 2015 led me to alter the direction of the business. I currently run a small home-based freelance pet grooming service.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <%= image_tag("calmcode.png", class: "img-circle img-responsive", :alt => "github") %>
                                
                            </div>
                            <div class="timeline-panel" style="float: left; margin-left: 70px;">
                                <div class="timeline-heading">
                                    <h4>Present -Future</h4>
                                    <h4 class="subheading">Aspiring Software developer</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">This is the next milestone that i hope to achieve. My interest and skillsets may have varied over the years, but the underlying connection between them is my innate interest to always pick up new skills. Through the process of learning programming, I realised that I really enjoy the adrenaline/accomplishment of attaining a solution after relentless tries, and have also found myself often in the state of Flow. </p>
                                </div>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--end-->