
<head>
<%= image_tag("sleepy.jpg", class: "img-responsive",:style=>"width :100%, position :top center;", :alt => "sleepy") %>
</head>

<div class="container" style= "margin-top: 20px;">
<h1> Peekaboo! Contact us here </h1>
<%= simple_form_for @form do |f| %>
  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :message %>
  <%= f.button :submit, 'Submit' %>
<% end %>
</div> center