

<%= image_tag("sleepy.jpg", class: "img-responsive",:style=>"width :100%, position :top center;", :alt => "sleepy") %>

<div class="container-fluid">
<div class="new-form"></div>
	<div class="col-md-6 contact">
	<h1> Peekaboo! Contact us here </h1>
		<%= simple_form_for @form do |f| %>
  		<%= f.input :name %>
  		<%= f.input :email %>
  		<%= f.input :message %>
  		<%= f.button :submit, 'Submit' %>
		<% end %>
	</div> 
	<div class="col-md-6 twitter">

		
	</div>


</div>

<div class="new-form"></div>