
<div class="container" style= "margin-top: 100px;">
<h1> Contact me </h1>
<%= simple_form_for @form do |f| %>
  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :message %>
  <%= f.button :submit, 'Submit' %>
<% end %>
</div>