



<head>


<%= image_tag("inu.jpg",:style=>"width :100%, margin-top :500px;") %>

</head>

<h1 class="blog-title">Blog Posts</h1>

<%= link_to "New Post", new_post_path %>
<br>
<%= link_to "Logout", destroy_user_session_path, method: :delete %>


<% @posts.each do |post| %>

	<div class="post_wrapper">
			<h2 class="title"><%= link_to post.title, post %></h2>
			<p class="date"><%=post.created_at.strftime("%B, %d, %Y") %></p>
			<p class="body"><%= (post.body) %></p>

	</div>
	<% end %>

