

<%= image_tag("inu.jpg",class: "img-responsive",:style=>"width :100%, margin-top :500px;") %>
	


<!--title-->

<div class="container-fluid">

	<h1 class="row blog-title">Blog Posts</h1>


	<div class="col-md-3"></div>
	<!--posts-->
	<div class="col-md-6 post">
		<hr>
			<% @posts.each do |post| %>
		<div class="post_wrapper" style="margin-top: 40px;">
			<h2 class="title index"><%= link_to post.title, post %></h2>
			<p class="date index"><%=post.created_at.strftime("%B, %d, %Y") %></p>
			<p class="body post-body"><%= (post.body) %></p>
			</div>
			<% end %>

	</div>
	<!--end-->

	<!--buttons-->
	<div class="col-md-3"> 
	<div class="btn btn-default button-index">
	<%= link_to "New Post", new_post_path, class: "btn" %>
	</div>

	<div class="btn btn-default button-index">
	<%= link_to "Logout", destroy_user_session_path, class: "btn", method: :delete %>
	</div>

	</div>
	<!--end-->


</div>


	

