



<%= image_tag("inu.jpg",class: "img-responsive",:style=>"width :100%, margin-top :500px;") %>
	


<!--title-->

<div class="container-fluid">
	<h1 class="row blog-title">Blog Posts</h1>


<div class="col-md-4"></div>
<div class="col-md-4">

	
			<% @posts.each do |post| %>
	<div class="post_wrapper" style="margin-top: 50px;">
			<h2 class="title"><%= link_to post.title, post %></h2>
			<p class="date"><%=post.created_at.strftime("%B, %d, %Y") %></p>
			<p class="body"><%= (post.body) %></p>
			</div>
			<% end %>

	</div>


<div class="col-md-4"> 
	<div class="btn btn-default button">
	<%= link_to "New Post", new_post_path, class: "btn" %>
	</div>

	<div class="btn btn-default button">
	<%= link_to "Logout", destroy_user_session_path, class: "btn", method: :delete %>
	</div>
</div>




 
<!--posts-->

</div>


	

