<h1 class= "title">
	<%= @post.title %>
</h1>



<p class="body">
	<%= @post.body %>
</p>

<%= link_to "Edit", edit_post_path(@post) %><br>
<%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: 'Are you sure?'}%><br>

<%= link_to "Logout", destroy_user_session_path, method: :delete %><br>
<%= link_to "Return to index", posts_path %>