<h1 class= "title">
	<%= @post.title %>
</h1>



<p class="body">
	<%= @post.body %>
</p>

<%= link_to "Edit", edit_post_path(@post) %>
<%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: 'Are you sure?'}%>

<%= link_to "logout", destroy_user_session_path, method: :delete %>
<%= link_to "Return to blog", posts_path %>