<!DOCTYPE html>
<html>
  <head>
    
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
  <nav class="navbar navbar-default navbar-fixed-top" style="background-color: transparent; border-color: transparent">
    <div class="navbar-header">


<%= link_to "Houndsmitten", root_path, class: "navbar-brand" %>
      

      
    </div>

    <div class="nav navbar-nav" style ="color: ">
      <li><a href="#">About</a></li>
      <li><%= link_to "Video", welcome_video_path %></li>
      <li><%= link_to "Blog", posts_path %></li>
      <li><%= link_to "Contact", new_form_path %></li>

    </div>


  </nav>
  
    <p class="notice"style= "padding: 0px><%= notice %></p>
       <p class="alert" style= "padding: 0px"><%= alert %></p>

    <%= yield %>

   
  </body>

</html>