<!DOCTYPE html>
<html>
  <head>
    
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">


<%= link_to "Houndsmitten", root_path, class: "navbar-brand" %>
      

      
    </div>

    <div class="nav navbar-nav">
      <li><a href="#">About</a></li>
      <li><a href="http://localhost:3000/welcome/video">Video</a></li>
      <li><%= link_to "Blog", posts_path %></li>
         

         <li><a href="#" class="navbar-link">Contact</a></li>
    </div>


  </nav>
    <%= yield %>

    
  </body>

</html>